# Created by https://www.toptal.com/developers/gitignore/api/cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/mochawesome-report/*
cypress/reports/*
cypress/results/*
cypress/screenshots/*
cypress/videos/*
mochawesome-report/*

# End of https://www.toptal.com/developers/gitignore/api/cypressio
node_modules
.env
logs
*.tmp